<%- include('partials/header')%>

<div class="container">
    <div class="change-password-form mt-5 mb-5" style="max-width: 500px; margin: auto;">
        <h3>Change Password</h3>
        <% if (typeof alert != 'undefined') { %>
            <div class="alert text-center text-danger">
                <%- alert %>
            </div>
        <% } %>
        <form action="/user/changePassword" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter your old Password" required autocomplete="off">
            </div>
            <div class=" mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new password" required autocomplete="off">
            </div>
            <div class=" mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required autocomplete="off">
                <div class="password-alert"></div>
            </div>
            <div class="mb-3 login-button text-center">
                <button type="submit" class="button-black" disabled >Submit</button>
            </div>
        </form>
    </div>

</div>

<script>
    $("#confirmPassword").on("keyup", () => {
        let newPassword = $("#newPassword").val();
        let confirmPassword = $("#confirmPassword").val();
        if (newPassword == confirmPassword) {
            $(".password-alert").html('');
            $("button").prop('disabled', false);
        } else {
            $(".password-alert").html('Passwords do not match!');
            $("button").prop('disabled', true);
        }
    })
</script>


<%-include('partials/footer')%>