<%- include('partials/header') %>

<div class="main">
    <div class="hero">
        <div class="hero-content">
            <div class="row">
                <div class="col-md-6">
                    <p>Find Your <br>Squad.</p>
                    <a href="/join"><p>Join Us</p></a>
                </div>
            </div>

        </div>

    </div>
</div>

<%- include('partials/footer') %>