<%- include('partials/header') %>

<div class="container">
    <div class="register-form mt-5 mb-5" style="max-width: 500px; margin:auto;">
        <h3>Join us at Bandana</h3>
        <form action="/user/register" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full name" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Your phone number" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Profile Picture</label>
                <input type="file" class="form-control-file" id="image" name="image" placeholder="Upload Image" accept="image/*" required>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Sex</label><br>
                <select class="form-select" id="gender" style="width: 100%">
                    <option selected>-- Select your Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create your password" required>
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
                <div class="password-alert"></div>
            </div>
            <div class="mb-3">
                <label style="font-weight: normal;" for="existing-user">Already have an account? <a href="/login">LogIn</a> </label>
            </div>
            <div class="mb-3 register-button text-center">
                <button type="submit" class="button-black" disabled>Submit</button>
            </div>
        </form>
    </div>
</div>


<script>
    // document.querySelector("")
    $("#confirm-password").on("keyup", () => {
        let password = $("#password").val();
        let confirmPassword = $("#confirm-password").val();
        if (password == confirmPassword) {
            $(".password-alert").html('');
            $("button").prop('disabled', false);
        } else {
            $(".password-alert").html('Passwords do not match!');
            $("button").prop('disabled', true);
        }
    })
</script>

<%- include('partials/footer') %>